<% if flash[:login_errors] %>
	<div class="errors">
		<p><%= flash[:login_errors] %></p>
	</div>
<% end %>
<% if flash[:login_success] %>
	<div class="success">
		<p><%= flash[:login_success] %></p>
	</div>
<% end %>
<% if flash[:logout_success] %>
	<div class="success">
		<p><%= flash[:logout_success] %></p>
	</div>
<% end %>